/* =====================================
========================================
===================== Conteúdo do Arquivo
========= Feito por Gabriel Coelho Soares
=========================================
=======================================*/

/*============= 1. HEADER ================*/

.bg-darker {
    background-color: #000;
}

nav {
    font-weight: 700;
}

.nav-link {
    color: #FFF !important;
}

a:hover.nav-link {
    color: #b8b3b3 !important;
    text-decoration: underline;
}

.navbar-toggler {
    position: absolute;
    right: 7.5%;
    top: 20px;
}

/* ============ 2. Footer =============== */

footer {
    background-color: #000;
    color: #fff;
}

.footer-um {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-dois {
    display: flex;
    justify-content: center;
}

.footer-dois span {
    font-size: 1.8em;
    padding-right: 10px;
    color: #fff;
}

/* ============ 3. Index =============== */

.header-img-ruan {
    background: #000 url(../../uploads/focus_ruan.jpg) no-repeat center;
    height: 100vh;
    position: relative;
}

@-webkit-keyframes opacityIndex {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes opacityIndex {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes opacityIndex {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes opacityIndex {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.logo-centralizado img {
    display: block;
    padding-top: 7%;
    margin: 0 auto;
    animation-duration: 2s;
}

.logo-centralizado a.btn {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    animation-duration: 2s;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    position: relative;
    top: 3%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*
*Slider de Testemunhos (Owl)
*/

#testemunho-slider{
    -webkit-animation: opacityIndex 7s; /* Safari 4+ */
  -moz-animation:    opacityIndex 7s; /* Fx 5+ */
  -o-animation:      opacityIndex 7s; /* Opera 12+ */
  animation:         opacityIndex 7s; /* IE 10+, Fx 29+ */
}

.testemunho-carousel {
    color: #fff;
    margin-top: 5%;
    position: absolute;
    bottom: 0;
}

.responsive-height {
    max-height: 400px;
    display: block;
}

.testemunho-conteudo {
    width: 600px;
}

.imagem-testemunho {
    border-radius: 50%;
    width: 100px !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: transparent;
    color: #fff;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.slider-ensaios .item {
    max-height: 578px;
    width: 100vw;
    position: relative;
}

.slider-ensaios .owl-dots>.owl-dot {
    color: #000;
}

.slider-nome {
    position: absolute;
    color: #fff7f7;
    font-size: 5em;
    font-family: 'DuePuntoZeroLight', sans-serif;
    font-weight: 500;
    top: 50%;
    left: 43.5rem;
    background: rgba(25, 25, 25, 0.23)
}

.slider-link {
    position: absolute;
    bottom: 25.5%;
    left: 54rem;
}

h6.text-center{
    color: #000000;
}

/* ============ 3.1. Sobre =================== */

.container-sobre{
    margin: 5% auto;
}
.sobre {
    background-color: #F0F3F6;
}

.sobre .container{
    padding: 5% 0;
}

.imagem-sobre-inicio {
    border-radius: 50%;
    max-width: 155px;
}

.sobre-mim-inicio {
    color: #A2230A;
    font-family: 'DuePuntoZero', 'Roboto', sans-serif;
    font-size: 1.4em;
}
.sobre-familia{
    color: #A2230A;
    padding-left: 2%;
    font-family: 'EB Garamond', serif;
}
.paragrafo-sobre-inicio {
    color: #b1aeae;
}

.sobre-fundo{
    background-color: #fff;
    display: flex;
    padding: 2%;
    margin-top: 3.5%;
}

.informacao{
    padding: 3%;
    align-content: flex-end
}

.sobre-fundo .informacao .nome{
    color: #323232;
    font-family: 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.sobre-fundo .informacao .titulo{
    color: #A2230A;
    font-family: sans-serif;
}

.sobre-fundo .informacao .mini-descricao{
    color: #979494;
}

.sobre-fundo.sobre-mim{
    display: inline-block;
    margin-top: 5%;
    min-height: 92%; /*Responsivo apenas 1300+*/
}

.sobre-fundo.sobre-mim p{
    color: #979494;
    padding: 2%;
}

.sobre-fundo.sobre-mim img{
    min-height: 215px;
    padding: 0 5%;
}

/* ============ 3.2. Contato =================== */

.bg-contato-box{
    height: 80vh;
    max-width: 100vw;
    background: url('../../uploads/bg-contato.jpg') fixed no-repeat;
}

.bg-contato-box .container span{
    margin: 0 2%;
    color: #303131;
    letter-spacing: 0.08em;
    position: absolute;
    top: 43%;
}

span.texto-contato{
    font-family: 'Pacifico', hand;
    font-size: 3em;
}

.barra-social{
    background: #ffffff;
    color: #000000;
}

.barra-social .float-right{
    margin-top: 5%;
}

.barra-social i{
    font-size: 3.45em;
}

.barra-social a, 
.barra-social a .float-right{
    text-decoration: none;
    color: #000222;
}

.barra-social a:hover,
.barra-social a:hover .float-right{
    color: #A2230A;
}

.barra-social i.ion-social-facebook{
    color: #393b96;
}

.barra-social i.ion-social-whatsapp{
    color: #00e462;
}

.barra-social i.ion-social-instagram{
    color: #cd486b;
}

.barra-social i.ion-email{
    color: #f33838;
}

.formulario-orcamento{
    background: rgb(240, 243, 246);
    color: #303131;
}

.formulario-orcamento>.container{
    padding-top: 30px;
}

.formulario-orcamento h2{
    color: #303131;
    letter-spacing: 3px;
    font-family: "DuePuntoZero", "Arial", sans-serif;
}

.formulario-orcamento form{
    margin-bottom: 10%;
}

.formulario-orcamento form label{
    color: #303131;
}

.formulario-orcamento form textarea::placeholder{
    color: #464647d2;
}

/* ============ 3.3. Parceiros =================== */

.bg-parceiro-box{
    height: 60vh;
    min-height: 35vh;
    width: 100vw;
    background: url('../../uploads/grafis.jpg') no-repeat fixed;
    background-size: 100vw 100vh;
}

.bg-parceiro-box .mascara{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 10% 45%; 
    grid-template-areas: ".... image ...."
}

.bg-parceiro-box .centered{
    grid-area: image;
}

.bg-parceiro-box .centered > .img-fluid{
    margin-top: 12em;
    border-radius: 50%;
}

.container .row .col-md-4.offset-md-2,
.container .row .col-md-6.text-center,
.container .row .col-md-6.text-center strong,
.container .row .col-md-6.text-center em,
.container .row .col-md-4.offset-md-2 p,
.container .row .col-md-4.offset-md-2 p strong{
    color: #000;
    font-size: 14px;
}

/* ============ 3.4. Arquivos (O que fazemos)  =================== */

.bg_black{
    background-color: #000;
}

.menu-arquivo{
    list-style-type: none;
    color: #fff;
}

.menu-arquivo:hover{
    color: #f2f2f2;
}

.titulo-arquivo{
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
    font-weight: bolder;
    color: #000;
    letter-spacing: 0.25em;
}

.background-posts{
    background-color: #f0f3f6;
}

.fundo-branco-post{
    background: #ffffff;
    padding: 0.3em;
    text-align: center;
    max-height: 500px;
    height: 250px;
}

.fundo-branco-post .card-img-top{
    height: 180px;
}

.anchor-post{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;

}

.anchor-post:hover{
    color: #222333;
    text-decoration: none;
    font-style: italic;
}

/* ============ 3.5. Página de Postagem  =================== */

.fundo-imagem{
    width: 100vw;
    height: 70vh;
    background: no-repeat fixed bottom;
}

.mask{
    background-color: rgba(0,0,0,0.3);
    height: 70vh;
}

.centered{
    margin: auto;
    width: 50%;
    padding-top: 10%;
    text-align: center;
}

.post_title{
    font-family: "EB Garamond", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 4em;
    text-shadow: #000 1px 2px 1px;
}

.post_description{
    font-style: italic;
    font-size: 18px;
    padding-top: 15px;
    font-weight: 700;
}

.date_n_local{
    padding-top: 15px;
    font-weight: 700;
}

.container.fundo-branco-post .row{
    justify-content: center;
    padding: 20px;
}

.depoimento{
    text-align: center;
    color: #000000;
}

.o_conteudo{
    color: #000;
    padding-top: 15px;
}