@font-face{
    font-family: DuePuntoZero;
    src: url(../fonts/Duepuntozero-Regular-Trial.ttf);
}

@font-face{
    font-family: DuePuntoZeroLight;
    src: url(../fonts/Duepuntozero-ExtraLight-Trial.ttf);
}