/**
 * [Conteúdo]
 *
 * [Utilize da busca para entender melhor o arquivo]
 *
 * Feito por: Gabriel Coelho Soares
 *
 *  1. RESPONSIVE SCREEN
 *    - 1.0. Media screen min width 1600px
 *    - 1.1. Media screen max width 1599px
 *    - 1.2. Media screen max width 1399px
 *    - 1.3. Media screen max width 1299px
 *    - 1.4. Media screen max width 1200px
 *    - 1.5. Media screen max width 991px
 *    - 1.6. Media screen max width 929px
 *    - 1.7. Media screen max width 840px
 *    - 1.8. Media screen max width 767px
 *    - 1.9. Media screen max width 660px
 *    - 1.10. Media screen max width 600px
 *    - 1.11. Media screen max width 591px
 *    - 1.12. Media screen max width 560px
 */

 /*----------  1.0. Media screen min width 1600px  ----------*/
@media (min-width: 1600px){
    .px-6{
        padding-left: 15em;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 45% 10% 45%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.1. Media screen max width 1599px  ----------*/
@media (min-width: 1400px) and (max-width: 1599px){
    .px-6{
        padding-left: 15em;
    }
    .bg-parceiro-box .mascara{
        grid-template-columns: 45% 10% 45%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.2. Media screen max width 1399px  ----------*/
@media (min-width: 1300px) and (max-width: 1399px){
    .px-6{
        padding-left: 15em;
    }
    .bg-parceiro-box .mascara{
        grid-template-columns: 45% 10% 45%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.3. Media screen max width 1299px  ----------*/
@media (min-width: 1201px) and (max-width: 1299px){
    .px-6{
        padding-left: 15em;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 45% 10% 45%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.4. Media screen max width 1200px  ----------*/
@media (min-width: 992px) and (max-width: 1200px){
    .px-6{
        padding-left: 15em;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 45% 10% 45%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.5. Media screen max width 991px  ----------*/
@media (min-width: 930px) and (max-width: 991px){

    .bg-parceiro-box .mascara{
        grid-template-columns: 42.5% 25% 42.5%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 7em;
    }
}

/*----------  1.6. Media screen max width 929px  ----------*/
@media (min-width: 841px) and (max-width: 929px){

    .bg-parceiro-box .mascara{
        grid-template-columns: 40% 20% 40%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 6em;
    }
}

/*----------  1.7. Media screen max width 840px  ----------*/
@media (min-width: 768px) and (max-width: 840px){

    .bg-parceiro-box .mascara{
        grid-template-columns: 40% 20% 40%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}


/*----------  1.8. Media screen max width 767px  ----------*/
@media (min-width: 661px) and (max-width: 767px){
    .header-img-ruan{
        height: 132vh;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 40% 20% 40%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.9. Media screen max width 660px  ----------*/
@media (min-width: 601px) and (max-width: 660px){

    .bg-parceiro-box .mascara{
        grid-template-columns: 35% 30% 35%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 6em;
    }
}

/*----------  1.10. Media screen max width 600px  ----------*/
@media (min-width: 592px) and (max-width: 600px){
    .owl-carousel{
        padding: 0 10px;
    }
    .testemunho-conteudo p{
       width: 95vw;
    }
    .testemunho-conteudo a.btn{
        width: 80vw;
        
    }

    .slider-ensaios{
        display: none !important;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 35% 30% 35%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5.2em;
    }
}


/*----------  1.11. Media screen max width 591px  ----------*/
@media (min-width: 561px) and (max-width: 591px){
    .slider-nome, .slider-link{
        display: none;
    }

    .slider-ensaios{
        display: none !important;
    }

    .bg-parceiro-box .mascara{
        grid-template-columns: 40% 20% 40%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}

/*----------  1.12. Media screen max width 560px  ----------*/
@media (max-width:560px){
    .header-img-ruan{
        height: 150vh;
    }

    .slider-ensaios{
        display: none !important;
    }

    .testemunho-conteudo{
        max-width: 100vw;
    }
    
    .bg-parceiro-box .mascara{
        grid-template-columns: 30% 40% 30%;
    }
    .bg-parceiro-box .centered > .img-fluid{
        margin-top: 5em;
    }
}